
<!-- Header -->
<header id="header">
  <nav class="left">
      <a href="#menu"><span>Menu</span></a>
  </nav>
  <a href="index.html" class="logo">intensify</a>
  <nav class="right">
      <a href="#" class="button alt">Login</a>
      <a href="#" class="button alt">Logout</a>
      <a href="#" class="button alt">register</a>
  </nav>
</header>


<!--Menu -->
<nav id="menu">
  <ul class="links">
      <li><p style="color: black;"><b>학생메뉴</b></p></li>  
      <li><a href="index.html">숙제제출</a></li>
      <li><a href="generic.html">Generic</a></li>
      <li><a href="generic1.html">Generic1</a></li>
      <li><a href="elements.html">Elements</a></li>
      <li><a href="elements1.html">Elements</a></li>

      <li><p style="color: black;"><b>교수메뉴</b></p></li>  
      <li><a href="index.html">숙제검사</a></li>
      <li><a href="generic.html">Generic</a></li>
      <li><a href="generic1.html">Generic1</a></li>
      <li><a href="elements.html">Elements</a></li>
      <li><a href="elements1.html">Elements</a></li>
  </ul>
  <ul class="actions vertical">
      <li><a href="#" class="button fit">Login</a></li>
      <li><a href="#" class="button fit">Logout</a></li>
      <li><a href="#" class="button fit">register</a></li>
  </ul>
</nav> 


