<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Generic - Intensify by TEMPLATED</title>
    <th:block th:replace="/sep/commonHead"></th:block>
</head>
<body class="subpage">

<!-- Header and menu-->
<th:block th:replace="/sep/index_header_menu"></th:block>


<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner"  th:each="board : ${boardList}">
        <header class="align-center">
            <h1>숙제 낸 학생들</h1>
            <p> 수업명:<span th:text="${board.classname}"> </span>
                </p>
        </header>
        
        <div class="table-wrapper">
          <table>
              <thead>
              <tr>
                  <th>제목</th><!-- 1-->
                  <th>작성장</th><!-- 2-->
                  <th>학번</th><!-- 3-->
                  <th>마감기간</th><!-- 4-->
                  <th>점수</th><!-- 5-->
              </tr>
              </thead>
              <tbody>
              <tr>

<!--1 -->
                  <td>
                      <a th:href="@{'/teacher/info/'+ ${board.hno}+ '/'+${board.bno}}" style="text-decoration:none; color: black;">
                      <span th:text="${board.title}"></span>
                      </a>
                  </td>
<!--2 -->
                  <td>
                      <a th:href="@{'/teacher/info/'+ ${board.hno}+ '/'+${board.bno}}" style="text-decoration:none; color: black;">

                      <span th:text="${board.name}"></span>
                      </a>
                  </td>
<!--3 -->
                  <td>
                      <a th:href="@{'/teacher/info/'+ ${board.hno}+ '/'+${board.bno}}" style="text-decoration:none; color: black;">

                      <span th:text="${board.studentnum}"></span>
                      </a>
                  </td>
<!--4 -->
                  <td>
                      <a th:href="@{'/teacher/info/'+ ${board.hno}+ '/'+${board.bno}}" style="text-decoration:none; color: black;">
                      <span th:text="${board.dueday}"></span>
                      </a>
                  </td>
<!--5 -->
                  <td>
                      <a th:href="@{'/teacher/info/'+ ${board.hno}+ '/'+${board.bno}}" style="text-decoration:none; color: black;">
                          <span th:text="${board.grade}"></span>
                      </a>
                  </td>
              </tr>

              </tbody>
              <tfoot>
              
              </tfoot>
          </table>
      </div>
    </div>
</section>

<!-- Footer -->
<th:block th:replace="/sep/index_footer"></th:block>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>