<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>학생 마이페이지</title>
    <th:block th:replace="/sep/commonHead"></th:block>
</head>
<body class="subpage">

<!-- Header and menu-->
<th:block th:replace="/sep/index_header_menu"></th:block>


<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h1>Generic Page</h1>
            <p>  <span th:text="${auth.name}"></span></p>
        </header>

        <div class="table-wrapper">
            <table>
                <thead>
                <tr>

                    <th>hno</th>
                    <th>bno</th>
                    <th>숙제 제목</th>
                    <th>교수님</th>
                    <th>작성날짜</th>
                    <th>수업명</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${boardList}">
                    <!--hno -->
                    <td>
                        <a th:href="@{'/student/info/' + ${board.bno}}" style="text-decoration:none; color: black;">

                            <span th:text="${board.hno}"></span>
                        </a>
                    </td>
                    <!--bno -->
                    <td>
                        <a th:href="@{'/student/info/' + ${board.bno}}" style="text-decoration:none; color: black;">

                        <span th:text="${board.bno}"></span>
                        </a>
                    </td>
                    <!--제목 -->
                    <td>
                        <a th:href="@{'/student/info/' + ${board.bno}}" style="text-decoration:none; color: black;">
                            <span th:text="${board.title}"></span>
                        </a>
                    </td>
                    <!--교수님 -->
                    <td>
                        <a th:href="@{'/student/info/' + ${board.bno}}" style="text-decoration:none; color: black;">

                        <span th:text="${board.title}"></span>
                        </a>
                    </td>
                    <!--작성날짜 -->
                    <td>
                        <a th:href="@{'/student/info/' + ${board.bno}}" style="text-decoration:none; color: black;">

                        <span th:text="${board.createdate}"></span>
                        </a>
                    </td>
                    <!--수업명 -->
                    <td>
                        <a th:href="@{'/student/info/' + ${board.bno}}" style="text-decoration:none; color: black;">

                        <span th:text="${board.classname}"></span>
                        </a>
                    </td>
                </tr>

                </tbody>
                <tfoot>
<!--                <tr>-->
<!--                    <td colspan="2"></td>-->
<!--                    <td>100.00</td>-->
<!--                </tr>-->
                </tfoot>
            </table>
        </div>
    </div>
</section>

<!-- Footer -->
<th:block th:replace="/sep/index_footer"></th:block>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>