<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>교사 숙제 수정</title>
    <th:block th:replace="/sep/commonHead"></th:block>
</head>
<body class="subpage">

<!-- Header and menu-->
<th:block th:replace="/sep/index_header_menu"></th:block>


<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h1>숙제 제출 페이지</h1>
            <p>여기서 숙제를 바로 제출할 수 있습니다.</p>
        </header>
        
        <form method="post" action="#">
          <div class="row uniform">
              <!--제목 -->
              <div class="9u 12u$(small)">
                  <input type="text" name="title" id="title" value="" placeholder="제목" required="required"/>
              </div>
              <!--수업선택 drop select -->
              <div class="12u$">
                <div class="select-wrapper">
                    <select name="category" id="category">
                        <option value="">- 수업선택 -</option>
                        <option value="1">Manufacturing</option>
                        <option value="1">Shipping</option>
                        <option value="1">Administration</option>
                        <option value="1">Human Resources</option>
                    </select>
                </div>
            </div>
              <!--코드 -->
              <div class="12u$">
                <textarea name="content" id="content" placeholder="코드를 입력하세요" rows="6" cols="95" required="required"></textarea>
            </div>
              <!--코드 결과물 -->
            <div class="12u$">
              <textarea name="message" id="message" placeholder="코딩 결과물" rows="6" cols="95" required="required" readonly></textarea>
          </div>

              <!--제출 버튼-->
              <div class="3u$ 12u$(small)">
                  <input type="submit" value="수정하기" class="fit"/>
              </div>
          </div>
      </form>
      </div>
    </div>
</section>

<!-- Footer -->
<th:block th:replace="/sep/index_footer"></th:block>
<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>