<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>숙제 제출 페이지</title>
    <th:block th:replace="/sep/commonHead"></th:block>
</head>
<body class="subpage">

<!-- Header and menu-->
<th:block th:replace="/sep/index_header_menu"></th:block>
<script src="https://cdnjs.cloudflare.com/ajax/libs/booking-js/2.6.0/booking.min.js"></script>
<script>
    function codingResultAjax() {

        $.ajax({
            url: "./codingResult",
            type: "POST",
            data: $("#readCodingForm").serialize(),
            success: function(data){

                $('#content_result').text(data);

            },
            error: function(){
                alert("serialize err");
            }
        });
    }
</script>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h1>숙제 제출 페이지</h1>
            <p>여기서 숙제를 바로 제출할 수 있습니다.</p>
        </header>

        <form id="readCodingForm" method="POST">
            <div class="row uniform">
                <!--제목 -->
                <div class="9u 12u$(small)">
                    <textarea name="title" id="title" placeholder="제목" rows="1" cols="2" th:text="${boardDto.content}" readonly></textarea>
                </div>

                <!--작성장 -->
                <div class="9u 12u$(small)">
                    작성자:
                    <span sec:authentication="principal.name"></span>
                </div>

                <!--코드 -->
                <div class="12u$">
                    <textarea name="content" id="content" placeholder="코드를 입력하세요" rows="6" cols="95" th:text="${boardDto.content}" readonly></textarea>
                </div>
                <!--코드 결과물 -->
                <div class="12u$">
                    <textarea name="content_result" id="content_result" placeholder="코딩 결과물" rows="6" cols="95" th:text="${boardDto.contentresult}" readonly></textarea>
                </div>


            </div>


        </form>
    </div>
</section>

<!-- Footer -->
<th:block th:replace="/sep/index_footer"></th:block>
</footer>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>