<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>숙제 제출 페이지</title>
    <th:block th:replace="/sep/commonHead"></th:block>

</head>
<body class="subpage">

<!-- Header and menu-->
<th:block th:replace="/sep/index_header_menu"></th:block>


<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h1>updateHomework</h1>
            <p>updateHomework</p>
        </header>

        <form  method="POST" th:action="@{'/updateHomeworklist/' + ${homeworkDto.hno}}">
            <div class="row uniform">
                <!--제목 -->
                <div class="9u 12u$(small)">
                    <input name="title" type="text"  id="title" th:value="${homeworkDto.title}" placeholder="제목" required="required"/>
                </div>
                <div class="9u 12u$(small)">
                    <input name="dueday" type="text"  id="dueday" th:value="${homeworkDto.dueday}" placeholder="dueday" required="required"/>
                </div>
                <!--작성장 -->
                <div class="9u 12u$(small)">
                    작성자:
                    <span sec:authentication="principal.name"></span>
                </div>
                <!--학번 -->
                <!--                <div class="9u 12u$(small)">-->
                <!--                    학번:-->
                <!--                    <span sec:authentication="principal.studentnum"></span>-->
                <!--                </div>-->
                <!--수업선택 drop select -->
                <div class="12u$" style="display: none">
                    <div class="select-wrapper">
                        <select name="lang" id="lang">
                            <option value="">- 언어선택 -</option>
                            <option value="c">c</option>
                            <option value="java">java</option>
                            <option value="python">python</option>
                        </select>
                    </div>
                </div>
                <!--코드 -->
                <div class="12u$">
                    <textarea name="des" id="des" placeholder="설명를 입력하세요" th:text="${homeworkDto.des}" rows="6" cols="95" required="required"></textarea>
                </div>

                <!--숙제 제출 버튼-->
                <div class="3u$ 12u$(small)">
                    <input type="submit" value="숙제 update" class="fit"/>
                </div>
                <!-- 숙제 삭제 버튼-->
                <div class="3u$ 12u$(small)" style="float: right; margin-top: 30px;">
                    <input type="submit" value="숙제 삭제" class="fit" th:formaction="@{'/updateHomeworklist/delete/' + ${homeworkDto.hno}}"
                    />
                </div>

            </div>
        </form>
    </div>
    </div>
</section>

<!-- Footer -->
<th:block th:replace="/sep/index_footer"></th:block>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>